dm_bio.aux
dm_bio.dvi
dm_bio.fdb_latexmk
dm_bio.fls
dm_bio.log
dm_bio.pdf
dm_bio.bbl
dm_bio.blg
collaborators.aux
collaborators.bbl
collaborators.blg
collaborators.fdb_latexmk
collaborators.fls
collaborators.log
collaborators.pdf
